<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trainers</title>
  <link href="/styles/styles.css" rel="stylesheet">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div id="adminRole" style="display:none;"><%= admin %></div>
  <section id="sideMenu">
    <a href="/trainers">
      <div class="logoContainer">
        <img src="/images/nutritionDepotLogo.png">
      </div>
    </a>
    <div class="sideMenuOptions">
      <a href="/trainers">
        <div>Trainers</div>
      </a>
      <a class="admin" href="/analytics">
        <div>Analytics</div>
      </a>
      <a class="admin" href="/admin">
        <div>Admin</div>
      </a>
    </div>
  </section>
  <section id="main">

    <div id="topMenu">
      <div class="searchContainer">
        <div class="divider">
        </div>
        <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        <input type="text" placeholder="Type anywhere to search" id="searchTrainersInput" class="searchTrainersBox" />
      </div>
      <div class="userSettingsContainer">
        <div class="divider">
        </div>
        <div class="userSettings">
         <a href="/logout">
           <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
         </a>
        </div>
      </div>
    </div>

    <div id="mainContent">
      <% for(var i=0; i<trainers.length; i++) { %>
      <a href="/trainer/<%= trainers[i]._id %>">
        <div class="trainerCard">
        <div class="flexContainer">
          <div class="trainerImg">
              <i class="fa fa-user fa-4x" aria-hidden="true"></i>
          </div>
          <div class="trainerInfoSnippet">
            <div class="infoLabel">Name</div>
            <div class="trainerName"><%= trainers[i].firstName %> <%= trainers[i].lastName %></div>
            <div class="infoLabel">Points</div>
            <div class="textRed"><%= trainers[i].points %></div>
          </div>
          </div>
        </div>
      </a>
      <% } %>

    </div>
  </section>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>